@media screen and (min-width:1000px) {
    body {
        overflow-x: hidden;
    }

    .main {
        &__article {
            &:nth-of-type(1) {
                @include flex(center, center); //   transform: translateY(-17vh);
                background: lightblue;
                flex-direction: row-reverse;
                max-width: 100%;
                width: 100%;
            }

            // The SVG Image background
            &--img:nth-of-type(1) {
                flex-grow: 2;
                @include flex(center, space-around); //   transform: translateY(-17vh);
                background: url('../images/bg-intro-desktop.svg'); //The svg Background
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                transform: translate(12vw, -15vh); //x,y
                height: 90vh;
                width: 140vw;
                max-width: 100%;

                img {
                    // visibility: hidden;
                    width: 65% !important;
                    transform: translate(5vw, 15vh); //x,y
                }
            }

            // The SVG Image background

            // "Next  generation digital banking "
            &--text {
                text-align: left;
                margin-left: 20px;

            }
        }
    }

}