@media screen and (min-width:1000px) {
    body {
        overflow-x: hidden;
    }

    //Header
    header {
        max-width: 100% !important;
        width: 100% !important;

    }


    .header {
        height: 12vh;
        width: 80%;
        margin: 0px auto;
        box-shadow: none;

        .icon {
            display: none;

        }

        &__nav {
            position: relative;
            border-radius: 5px;
            opacity: 1 !important;
            transform: translateX(0%);
            transition: none;
            z-index: 2000;
            top: -0vh;
            background: transparent;
            font-size: 12px;

            // nav-links
            &--links {
                @include flex(center, center);
                flex-direction: row;

                li {
                    padding: 1vh;
                }
            }

            &--link {
                font-weight: weight("light");
                font-size: 15px;
                transition: color 0.4s, font-weight 0.4s;
                padding: 2vh;
                color: colorz("gray");
                position: relative;

                &:hover {
                    font-weight: weight("med");
                    transition: color 0.4s, font-weight 0.4s;
                    color: colorz("darkBlue");
                }

                &:before {
                    content: "";
                    height: 3px;
                    width: 0px;
                    padding: 0px;
                    position: absolute;
                    background: linear-gradient(to right, colorz("limeGreen"), colorz("brightCyan"));
                    top: 130%;
                    transform: translate(-50%, 0);
                    left: 50%;
                    transition: 0.3s width ease-in-out, 0.3s padding ease-in-out;
                }

                &:hover::before {
                    transition: 0.3s width ease-in, 0.3s padding ease-in-out;
                    width: 3.5vw;
                    padding: 1px;

                }
            }
        }

        &__btn {
            font-size: 13px;
            display: block;
            white-space: nowrap;
            z-index: 1000;
            color: colorz("white") !important;
            padding: 12px 24px;
            border-radius: 50px;
            font-size: 14px;
            text-align: center;
            background: linear-gradient(to right, #31d35c85, #2bb7da99);
            transition: 0.5s background ease-in;
            &:hover {
                transition: 0.5s background ease-in;
                background: linear-gradient(to right, colorz("limeGreen"), colorz("brightCyan"));

            }

            a {
                color: #fff;
            }
        }
    }





    .main {

        //main__article
        &__article {
            position: relative;

            //main__article(1)
            &:nth-of-type(1) {
                @include flex(center, center); //   transform: translateY(-17vh);
                flex-direction: row-reverse;
                max-width: 100%;
                width: 100%;
            }

            // The SVG Image background
            &--img:nth-of-type(1) {
                flex-grow: 2;
                @include flex(center, space-around); //   transform: translateY(-17vh);
                background: url('../images/bg-intro-desktop.svg'); //The svg Background
                background-size: cover;
                z-index: -2000000;
                background-position: center center;
                background-repeat: no-repeat;
                transform: translate(12vw, -15vh); //x,y
                height: 95vh;
                width: 150vw;
                max-width: 100%;

                //Phone image
                img {
                    width: 85% !important;
                    transform: translate(2vw, 25vh); //x,y
                }
            }

            // The SVG Image background

            // "Next  generation digital banking "

            &--text {
                position: relative;
                top: 12vh;
                left: 10vw;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                a {
                    cursor: pointer;
                }

                h1 {
                    overflow-wrap: break-word;
                    font-weight: weight("med");
                    max-width: 80%;
                    margin-left: 20px;
                }

                p {
                    font-weight: weight("light");
                    font-size: 15px;
                    max-width: 90%;
                    margin: auto;
                    line-height: 25px;
                }

                .button {
                    margin-left: 20px;
                    cursor: pointer !important;
                }
            }

            //Why choose EazyBank
            &:nth-of-type(2) {
                max-width: 100%;
                width: 100%;
                padding: 40px 50px;
                z-index: -20000000000 !important;

                header {
                    width: 100%;
                    background: transparent;
                    margin: 0 auto;
                    text-align: left;

                    h2 {
                        max-width: 100%;
                    }

                    // We leverage Open Banking to turn your bank account into your finacial hub
                    p {
                        width: 45%;
                        margin: 0 auto;
                        line-height: 28px;
                        position: relative;
                        left: -25vw;
                        font-size: 16px;

                    }
                }

                .flex {
                    
                    max-width: 100%;
                    width: 100%;
                    margin: 5vh auto 0px auto;
                    flex-direction: row;
                    @include flex(center, center);


                    .section {
                        text-align: left;
                        @include flex(flex-start, space-around);
                        flex-direction: column;

                        &__img {
                            padding-left: 2vw;
                        }

                        &__text {
                            text-align: left !important;
                            h2 {
                                padding: 2vh 2vw;

                            }
                        }
                    }
                }
                
            }
            
            //Latest Articles
            &:nth-of-type(3) {
                z-index: -2000;
                max-width: 100%;
                width: 85%;
                margin: 0 auto;

                header {
                    background: transparent;
                    margin-left: 1.5vw;
                    background: none;

                    h3 {
                        text-align: left;

                    }
                }

                .flexThree {
                    
                    display: flex;
                    margin: 0 auto;
                }
            }
        }
    }

    //Footer..
    .footer {
        grid-auto-flow: column;
        grid-template-columns: 200px;
        align-items: center;


        &__logo {
            margin-left: 4vw;
            padding: 3vh 0vw;
        }

        &__nav-links {
            column-count: 2;
            font-size: 14px;

            li {
                text-align: left;
            }
        }

        &__socialIcons {
            width: 100%;
            margin-left: 3vw;

            &--ul {
                display: flex;

                li {
                    margin: 0.6vw;
                }
            }

        }

        .requestBtn {
            position: relative;
            left: 7vw;
        }
    }
}