@media screen and (min-width:1000px) {
    body {
        overflow-x: hidden;
    }

    //Header
    header {
        max-width: 100%;
    }


    .header {
        height: 12vh;
        width: 85%;
        margin: 0px auto;

        .icon {
            display: none;
        }

        &__nav {
            position: relative;
            border-radius: 5px;
            opacity: 1 !important;
            transform: translateX(0%);
            transition: none;
            z-index: 2000;
            top: -1vh;
            background: transparent;

            // nav-links
            &--links {
                @include flex(center, center);
                flex-direction: row;

                li {
                    padding: 1vh;
                }
            }

            &--link {
                font-weight: weight("med");
                padding: 2vh;
            }
        }

        &__btn {
            display: block;
            white-space: nowrap;
        }
    }





    .main {
        &__article {
            position: relative;

            &:nth-of-type(1) {
                @include flex(center, center); //   transform: translateY(-17vh);
                flex-direction: row-reverse;
                max-width: 100%;
                width: 100%;
            }

            // The SVG Image background
            &--img:nth-of-type(1) {
                flex-grow: 2;
                @include flex(center, space-around); //   transform: translateY(-17vh);
                background: url('../images/bg-intro-desktop.svg'); //The svg Background
                background-size: cover;
                z-index: -2000000;
                background-position: center center;
                background-repeat: no-repeat;
                transform: translate(12vw, -15vh); //x,y
                height: 90vh;
                width: 140vw;
                max-width: 100%;

                img {
                    // visibility: hidden;
                    width: 65% !important;
                    transform: translate(6vw, 15vh); //x,y
                }
            }

            // The SVG Image background

            // "Next  generation digital banking "

            &--text {
                position: relative;
                top: 12vh;
                left: 10vw;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                a {
                    cursor: pointer;
                }

                h1 {
                    overflow-wrap: break-word;
                    font-weight: weight("med");
                    max-width: 80%;
                    margin-left: 20px;
                }

                p {
                    font-weight: weight("light");
                    font-size: 15px;
                    max-width: 90%;
                    margin: auto;
                    line-height: 25px;
                }

                .button {
                    margin-left: 20px;
                    cursor: pointer !important;
                }
            }

        }
    }

}