// Primary Colors
// Neutral Colors
$color :("gray":hsl(233, 8%, 62%), "lightGray": hsl(220, 16%, 96%), "lighterGray":hsl(0, 0%, 98%), "white":hsl(0, 0%, 100%), "darkBlue":hsl(233, 26%, 24%), "limeGreen":hsl(136, 65%, 51%), "brightCyan": hsl(192, 70%, 51%));
// Weight
$weight:("light":300, "med":400, "bold":700);


@mixin flex ($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}