  @import"./reset";
  @import"./variables";

  html {
      font-size: 16px;
      min-height: 100vh;
  }

  body {
      font-family: 'Public Sans', sans-serif;
      position: relative;
  }

  .body__Overlay {
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, 0.281);
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      display: none;

      &.active {
          display: block;
          opacity: 1;
      }
  }

  //   function 
  @function weight($weightName) {
      @return map-get($weight, $weightName);
  }

  //   function color 
  @function colorz($colorName) {
      @return map-get($color, $colorName);
  }


  //   Header
  header {
      background: colorz("white");
      box-shadow: -1px 10px 20px 0px #00000000;
  }

  .header {
      box-shadow: -1px 10px 20px 0px #00000000;
      background: colorz("white");
      @include flex(center, space-around);
      height: 12vh;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      z-index: 1000;
      position: relative;

      &__menu {
          .icon {
              font-size: 25px;
              font-weight: weight("light");
          }
      }

      &__nav {
          position: fixed;
          top: 25vh;
          padding: 4vh;
          background: #fff;
          border-radius: 5px;
          opacity: 0;
          transform: translateX(-200%);
          transition:
              opacity 0.3s ease-in,
              transform 0.3s ease-in,
              background 0.3s ease-in;
          z-index: 2000;
          width: 85%;
          color: colorz("gray");

          &.active {
              transform: translateX(0%);
              transition:
                  opacity 0.2s ease,
                  background 0.2s ease-out,
                  transform 0.2s ease-out;
              opacity: 1;
          }

          &--links {
              @include flex(center, center);
              flex-direction: column;

              li {
                  padding: 2vh;
              }

          }

          &--link {
              font-weight: weight("med");
              padding: 2vh;
          }
      }

      &__btn {
          display: none;
      }
  }

  //   Main
  .main {


      // .main__article
      &__article {
          position: relative;

          // .main__article- (The svg background)

          &--img:nth-of-type(1) {
              @include flex(flex-end, center); //   transform: translateY(-17vh);
              background: url('../images/bg-intro-mobile.svg'); //The svg Background
              background-repeat: no-repeat;
              background-position: center bottom;
              background-size: cover;
              transform: translateY(-15vh);

              img {
                  width: 95%;
                  transform: translateY(-6vh);
              }
          }

          // .main__article-text
          &--text {
              margin: -22vh auto 0vh auto;
              text-align: center;
        
            }

              h1 {
                  font-weight: weight("med");
                  text-overflow: ellipsis;
                  max-width: 80%;
                  margin: 5vh auto;
                  color: colorz("darkBlue");
                  font-weight: weight("light");
              }

              p {
                  font-weight: weight("light");
                  color: colorz("gray");
                  font-size: 15px;
                  max-width: 90%;
                  margin: 0 auto;
                  line-height: 22px;
              }
          }

          &--btn {
              @include flex(center, center);
              margin: 5vh 0px 6vh 0px;

              .button {
                  background: linear-gradient(to right, colorz("limeGreen"), colorz("brightCyan"));
                  z-index: 1000;
                  color: colorz("white");
                  padding: 12px 24px;
                  border-radius: 50px;
                  font-size: 14px;
                  text-align: center;
              }
          }

          // Article Two 

          &:nth-child(2) {
              margin: 12vh auto;
              max-width: 100%;
              display: grid;
              place-items: center;
              font-size: 16px;
              background: hsl(220, 16%, 96%);

              header {
                  background: hsl(220, 16%, 96%);
                  margin: 0 auto;
                  text-align: center;
                  padding: 8vh 0px;

                  h2 {
                      font-size: 1.6rem;
                      line-height: 40px;
                      font-weight: weight("med");
                      padding-bottom: 20px;
                      color: colorz("darkBlue");
                      font-weight: weight("med");
                      max-width: 70%;
                      margin: 0 auto;

                  }

                  p {
                      font-weight: weight("light");
                      font-size: 15px;
                      line-height: 22px;
                      max-width: 90%;
                      margin: 0 auto;
                      color: colorz("gray")
                  }
              }

              .section {
                  @include flex(center, space-around);
                  flex-direction: column;
                  padding-bottom: 5vh;


                  &__text {
                      text-align: center;

                      h2 {
                          font-weight: weight("med");
                          font-size: 1rem;
                          padding: 2vh 0px;
                          line-height: 20px;
                      }

                      p {
                          margin: 0px auto;
                          max-width: 85%;
                          font-weight: weight("light");
                          font-size: 13px;
                          line-height: 20px;
                      }
                  }

                  &:nth-of-type(4) {
                      padding-bottom: 10vh;
                  }
              }
          }

          // Article Three 
          &:nth-of-type(3) {
              margin: 18vh auto 20px auto;
              max-width: 100%;

              h3 {
                  color: colorz("darkBlue");
                  text-align: center;
                  padding: 5vh 0 0vh 0px;
                  font-size: 1.5rem;
                  font-weight: weight("med");
              }

              .section {
                  &__img--two {
                      width: 80%;
                      margin: 8vh auto 4vh auto;

                      img {
                          height: 35vh;
                          object-fit: cover;
                          border-top-left-radius: 4px;
                          border-top-right-radius: 4px;
                      }
                  }

                  &__text--two {
                      margin: 0px auto;
                      width: 74%;

                      h4 {
                          padding: 0vh 0px 2vh 0px;
                          font-weight: weight("light");
                          font-size: 14px;
                      }

                      p {
                          &:nth-of-type(1) {
                              font-weight: weight("med");
                              font-size: 1rem;
                              line-height: 24px;
                              padding-bottom: 1vh;
                          }

                          font-size: 13px;
                          line-height:18px;
                          font-weight: weight("light");
                      }
                  }
              }
          }
      }

  }

  //   Footer

  .footer {
      background-color: hsl(233, 26%, 24%);
      margin-top: 15vh;
      padding: 6vh;
      display: grid;
      place-items: center;
      //   background: lightgrey;

      &__logo {
          margin-left: 60px;
          margin-top: 6vh;
          margin-bottom: 4vh;
      }

      &__socialIcons {
          padding: 3vh;
          max-width: 100%;
          width: 100%;

          &--ul {
              display: flex;
              align-items: center;
              justify-content: center;

              li {
                  margin-left: 20px;
              }
          }

          @include flex(center, space-around);
      }

      //.footer__nav
      &__nav {
          @include flex(center, center);

          li {
              text-align: center;
              padding: 2vh;
          }

          //About us,Contact,Blog,Careers, Support and privacy policy
          &--link {
              font-weight: weight("light");
              padding: 1vh;
              font-size: 14px;
              color: white;
          }
      }

      //Request Invite
      &__btn {
          margin: 6vh;

          .button {
              background: linear-gradient(to right, colorz("limeGreen"), colorz("brightCyan"));
              padding: 15px 40px;
              border-radius: 50px;
              font-size: 14px;
              text-align: center;
              color: colorz("white");
          }
      }

      p {
          color: colorz("white");
          font-size: 14px;
          font-weight: weight("light");
          padding: 2vh;
      }

      &__attribution {
          font-size: 12px;
          text-align: center;
          margin-top: 2vh;
      }
  }

  //Desktop Section Here 
  @import './desktop'