  @import"./reset";
  @import"./variables";

  html {
      font-size: 18px;
  }

  body {
      font-family: 'Public Sans', sans-serif;
      position: relative;
  }

  //   function 
  @function weight($weightName) {
      @return map-get($weight, $weightName);
  }


  //   Header

  .header {
      @include flex(center, space-around);
      background: lightgrey;
      height: 10vh;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      z-index: 99999;

      &__menu {
          .icon {
              font-size: 24px;
              line-height: 35px;
              font-weight: weight("light");
          }
      }

      &__nav {
          &--links {
              display: none;
          }
      }

      &__btn {
          display: none;
      }
  }

  //   Main
  .main {


      // .main__article
      &__article {

          z-index: -1000;
          position: relative;

          // .main__article-img

          &--img:nth-of-type(1) {

              @include flex(flex-end, center); //   transform: translateY(-17vh);
              background: url('../images/bg-intro-mobile.svg');
              background-repeat: no-repeat;
              background-position: center bottom;
              background-size: cover;
              transform: translateY(-15vh);

              img {
                  width: 95%;
                  transform: translateY(-6vh);
              }
          }

          // .main__article-text
          &--text {
              margin-top: -22vh;
              text-align: center;

              h1 {
                  font-weight: weight("med");
                  text-overflow: ellipsis;
              }

              p {
                  font-weight: weight("light");
                  font-size: 15px;
                  max-width: 90%;
                  margin: auto;
                  line-height: 25px;
              }
          }

          &--btn {
              @include flex(center, center);
              margin: 5vh 0px 6vh 0px;

              .button {
                  padding: 15px 40px;
                  border-radius: 50px;
                  font-size: 14px;
                  text-align: center;
                  background: lightgray;
              }
          }

          // Article Two 

          &:nth-child(2) {
              margin: 12vh auto;
              max-width: 100%;
              display: grid;
              place-items: center;
              font-size: 16px;

              header {
                  margin: 0 auto;
                  text-align: center;
                  padding: 8vh 0px;

                  h2 {
                      font-size: 2rem;
                      line-height: 40px;
                      font-weight: weight("med");
                      padding-bottom: 20px;
                  }

                  p {
                      font-weight: weight("light");
                      font-size: 16px;
                      line-height: 22px;

                  }
              }

              .section {
                  @include flex(center, center);
                  flex-direction: column;
                  padding-bottom: 5vh;


                  &__text {
                      text-align: center;

                      h2 {
                          font-weight: weight("med");
                          font-size: 1rem;
                          padding: 2vh 0px;
                          line-height: 20px;
                      }

                      p {
                          margin: 0px auto;
                          max-width: 85%;
                          font-weight: weight("light");
                          font-size: 14px;
                          line-height: 20px;
                      }
                  }

                  &:nth-of-type(4) {
                      padding-bottom: 10vh;
                  }
              }
          }

          // Article Three 
          &:nth-of-type(3) {
              margin: 18vh auto 20px auto;
              max-width: 100%;

              h3 {
                  text-align: center;
                  padding: 5vh 0 0vh 0px;
                  font-size: 1.5rem;
                  font-weight: weight("med");
              }

              .section {
                  &__img--two {
                      width: 85%;
                      margin: 8vh auto 4vh auto;

                      img {
                          height: 30vh;
                          object-fit: cover;
                          border-top-left-radius: 4px;
                          border-top-right-radius: 4px;
                      }
                  }

                  &__text--two {
                      margin: 0px auto;
                      width: 77%;

                      h4 {
                          padding: 0vh 0px 2vh 0px;
                          font-weight: weight("light");
                          font-size: 14px;
                      }

                      p {
                          &:nth-of-type(1) {
                              font-weight: weight("med");
                              font-size: 1rem;
                              line-height: 24px;
                              padding-bottom: 1vh;
                          }

                          font-size: 13px;
                          line-height:18px;
                          font-weight: weight("light");
                      }
                  }
              }
          }
      }

  }

  //   Footer

  .footer {
      padding: 5vh;
      display: grid;
      place-items: center;
      background: lightgrey;

      &__socialIcons {
          padding: 3vh;
          max-width: 100%;
          width: 80%;
          @include flex(center, space-around);
      }

      &__nav {
          @include flex(center, center);

          li {
              text-align: center;
              padding: 1vh;

              &--link {
                  padding: 2vh;
              } 
          }
      }
  }